:root {
    --font-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-serif: Lora, Georgia, "Times New Roman", Times, serif;
    --color-primary-text: #15171a;
    --content-width: 640px;
    --content-font-size: 1.6rem;
    --grid-gap: 16px;
}
